<!DOCTYPE html>
{% load static %}

 <main id="main">
<!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="{% static 'img/studio.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=YdKSvM659bw" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="section-title">
              <h2>Sobre nós</h2>
              <p>Somos uma equipe especializada em pilates e yoga com foco em bem estar e auto conhecimento. Usamos as técnicas mais modernas na atualidade e buscamos a excelência em nossa atividade.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Missão</a></h4>
              <p class="description">Oferecer um atendimento de qualidade diferenciado e comprometido, estimulando assim o bem estar físico e mental dos alunos.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Valores</a></h4>
              <p class="description">Compromisso com a qualidade dos serviços prestados, primando por um atendimento humano. Respeitando as dúvidas e limitações dos alunos, explicar o método e seus benefícios com paciência e detalhamento.</p>
            </div>

          </div>
        </div>

      </div>
    </section>
   <!-- End About Us Section -->