<!DOCTYPE html>
{% load static %}

<!-- ======= About Lists Section ======= -->
    <section class="about-lists">
      <div class="container">

        <div class="row no-gutters">

          <div class="section-title">
              <h2>Os 6 Princípios do Pilates</h2>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <span>01</span>
            <h4>Respiração</h4>
            <p>A respiração deve ser sempre coordenada com o movimento. A expiração deve ser forçada e a inspiração, o mais natural possível. Via de regra, expira-se nos momentos de maior esforço dos movimentos.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>02</span>
            <h4>Estabilização / Centro</h4>
            <p>Diz respeito ao fortalecimento de um conjunto de músculos responsáveis pela sustentação da coluna e dos órgãos internos proporciona a estabilização do tronco e um alinhamento biomecânico com menor gasto energético.  Além dos movimentos em si, a prática da respiração ajuda muito no fortalecimento desta musculatura.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>03</span>
            <h4>Concentração</h4>
            <p>É a mente que guia o corpo. Deve-se dar atenção e importância a todas as partes do corpo para que o movimento seja realizado com a maior eficiência possível. É a transformação de um pensamento em movimento. Sempre haverá mais de um aspecto a ser pensado ao mesmo tempo.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>04</span>
            <h4>Controle</h4>
            <p>É o melhor recrutamento da musculatura desejada. Visa um padrão suave e harmônico de movimento. O aprendizado motor dos movimentos também faz parte dos objetivos e benefícios do Pilates e está diretamente relacionado com o princípio da Concentração.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
            <span>05</span>
            <h4>Precisão</h4>
            <p>Diz respeito ao refinamento do controle e equilíbrio dos diferentes músculos envolvidos num movimento, sem gasto desnecessário de energia a partir de contrações inadequadas, sejam elas exageradas ou deficientes.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
            <span>06</span>
            <h4>Fluidez</h4>
            <p>A fluidez e leveza dos movimentos permitem a utilização apenas da energia necessária para o movimento, sem desperdício. Os movimentos não têm início, meio ou fim. Desta forma, o organismo aproveita a fase concêntrica e excêntrica dos exercícios, resultando num treino equilibrado e funcional e protegendo os tecidos de possíveis desgastes prematuros.</p>
          </div>

        </div>

      </div>
    </section><!-- End About Lists Section -->

