<!DOCTYPE html>
{% load static %}


<!-- ======= Our Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="section-title">
      <h2>Nossas instalações</h2>
      <p>Por seguir o Método Clássico de Pilates, todos os aparelhos do Espaço Juliana Pessoa - Pilates &
        Fisioterapia Pélvica, possuem as medidas e funcionalidades projetadas para o desenvolvimento da atividade.
        O studio conta com equipamentos novos, distribuídos em um ambiente climatizado e aconchegante. Atendemos
        de segunda à sexta-feria das 08:00 hs às 21:00 hs.</p>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".filter-aluno">Aluno</li>
          <li data-filter=".filter-aula">Aulas</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao1.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Alongamento</h4>
            <p>Aluno</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Alongamento"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aula">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao2.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Respiração</h4>
            <p>Aula</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Respiração"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao3.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Aquecimento</h4>
            <p>Aluno</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Aquecimento"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao4.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Equilíbrio</h4>
            <p>Aluno</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Equilíbrio"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aula">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao5.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Aula em grupo</h4>
            <p>Aula</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Aula em grupo"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao6.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Aluno</h4>
            <p>Aluno</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Aluno"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao7.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aluno">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao7.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-aula">
        <div class="portfolio-wrap">
          <img src="{% static 'img/portfolio/posicao7.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Aula</p>
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/posicao7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Our Portfolio Section -->
