<!DOCTYPE html>
{% load static %}


<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Perguntas frequentes</h2>
    </div>

    <div class="row  d-flex align-items-stretch">

      <div class="col-lg-6 faq-item" data-aos="fade-up">
        <h4>O que é Pilates?</h4>
        <p>
          Pilates é um conjunto de exercícios criados pelo alemão chamado Joseph Pilates, em meados de 1920, que
          são realizados nos Solo ou em Equipamentos exclusivos, que visa o total e completo controle e conexão
          entre corpo e mente, devolvendo e restaurando a saúde de indivíduos em condições patológicas assim como
          promovendo um aumento da qualidade de vida para pessoas saudáveis.
        </p>
      </div>

      <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
        <h4>Quais são os maiores benefícios do Pilates?</h4>
        <p>
          Além de trabalhar aspectos corporais, como tonificação muscular, postura e condicionamento físico,
          ele também lida com a parte mental dos seus praticantes, com exercícios de respiração, alongamento
          e relaxamento, que aliviam a ansiedade e o estresse.
        </p>
      </div>

      <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
        <h4>Quais os princípios trabalhados em uma sessão de pilates?</h4>
        <p>
          O método trabalha com 6 princípios básicos, importantes serem listados para nos levar até os benefícios,
          são eles: concentração, respiração, centralização, precisão, controle, fluidez.
        </p>
      </div>

      <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
        <h4>Pilates Emagrece? Mito ou verdade?</h4>
        <p>
          Essa é uma pergunta muito frequente dentro dos Studios de Pilates, por alunos já praticantes e por
          pessoas que estão pensando em adotar o Método como forma de emagrecimento.Se o Pilates emagrece ou não,
          vai depender muito da forma como ele será ministrado durantes as aulas, porém devemos lembrar que como
          atividade física, ele sempre terá um gasto energético considerável.
        </p>
      </div>

      <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
        <h4>Pilates traz benefícios para gestantes?</h4>
        <p>
          Durante o período de gestação, o corpo da mulher passa por diversas mudanças físicas e hormonais que
          necessitam de uma atenção maior nos cuidados com a saúde, essas mudanças podem gerar dores e desconfortos
          para a futura mamãe. Para evitar incômodo, o Pilates para gestantes pode ser um grande aliado nessa fase,
          amenizando as grandes alterações estruturais e proporcionando benefícios
        </p>
      </div>

      <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
        <h4>Pilates com Bola – O que é, pra que serve?</h4>
        <p>
          A bola de Pilates ou FitBall, originalmente não foi incorporada nas aulas de Pilates, mas com tanta
          versatilidade, aos poucos os Studios foram incorporando. Ela é destinada a diversas práticas de
          atividades físicas e também é conhecida como bola de estabilidade.
        </p>
      </div>

    </div>

  </div>
</section>
<!-- End Frequently Asked Questions Section -->